<form method="post" action="{{ path('app_team_terms_acceptance_delete', {'id': team_terms_acceptance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team_terms_acceptance.id) }}">
    <button class="btn">Delete</button>
</form>
