{% extends 'base.html.twig' %}

{% block title %}New TeamTermsAcceptance{% endblock %}

{% block body %}
    <h1>Create new TeamTermsAcceptance</h1>

    {{ include('team_terms_acceptance/_form.html.twig') }}

    <a href="{{ path('app_team_terms_acceptance_index') }}">back to list</a>
{% endblock %}
